@using TimeCafe.DAL.Models.ViewModels
@model RegisterViewModel
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="col-md-auto">
                <div class="card">
                    <form asp-controller="User" asp-action="Registration">
                        <h5 class="card-title text-center">Sign Up:</h5>
                        <div class="input-field">
                            <input type="email" asp-for="Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="input-field">
                            <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="input-field">
                            <input type="password" asp-for="PasswordConfirmation" class="form-control" placeholder="Confirm password" />
                            <span asp-validation-for="PasswordConfirmation"></span>
                        </div>                                                 
                        <div class="text-center">
                            <input type="submit" value="Sign In" class="btn btn-primary btn-block mb-4" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>